**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [98]:
from functools import reduce
import sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
square= [x**2 for x in range(0,20)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [3]:
sqrt= [x*0.5 for x in range(100)]

print(sqrt)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
my_list= [x for x in range(-10,1)]

my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [5]:
odds= [x for x in range(1,100) if(x%2==1)]

print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
divisible_by_seven= [x for x in range(1,100) if(x%7==0)]

print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [8]:
vowels= ['a','e','i','o','u','A','E','I','O','U']

non_vowels= reduce(lambda a,b: a+b,(i for i in teststring if i not in vowels))

non_vowels

'Fnd ll f th wrds n  strng tht r mnsyllbc'

In [9]:
vowels= ['a','e','i','o','u','A','E','I','O','U']

def remove_vowels(s):
    x=''
    for i in s:
        if(i not in vowels):
            x=x+i
    return x

In [10]:
print(remove_vowels(teststring))

type(remove_vowels(teststring))

Fnd ll f th wrds n  strng tht r mnsyllbc

str

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [11]:
test_string='The Quick Brown Fox Jumped Over The Lazy Dog'

capital_letters= [i for i in test_string if i.isupper()]

print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [12]:
vowels= ['a','e','i','o','u','A','E','I','O','U']
test_string_consonants= 'The quick brown fox jumped over the lazy dog'

consonants= [i for i in test_string_consonants if i not in vowels]

print(consonants)

['T', 'h', ' ', 'q', 'c', 'k', ' ', 'b', 'r', 'w', 'n', ' ', 'f', 'x', ' ', 'j', 'm', 'p', 'd', ' ', 'v', 'r', ' ', 't', 'h', ' ', 'l', 'z', 'y', ' ', 'd', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [13]:
import os

In [14]:
#files = [f for f in os.listdir('../../../IronhackLocal') if os.path.isfile(f)]

files = os.listdir('../../../IronhackLocal')

files

['1.1-lab_bash',
 '1.1-lab_git',
 '1.2-lab_list_comprehension',
 '1.2-lab_tuple_set_dict',
 '1.3-lab_bags_of_words',
 '1.3-lab_functions',
 '1.4-lab_errorhand_listcomp',
 '1.4-lab_map_reduce_filter',
 'apuntes_clase']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [15]:
import random

In [16]:
def crear_lista_random():
    lista=[]

    for i in range(10):
        lista.append(random.randint(0,100))
    return lista

In [17]:
random_lists=[[random.randint(0,100) for i in range(10)] for x in range(4)]

print(random_lists)

[[33, 30, 72, 32, 74, 33, 22, 17, 82, 12], [28, 12, 25, 88, 43, 89, 67, 80, 87, 49], [29, 7, 56, 58, 38, 14, 48, 5, 31, 39], [82, 28, 35, 41, 82, 97, 100, 0, 52, 41]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [27]:
from functools import reduce

In [35]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

reduce(lambda a,b: a+b, list_of_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [65]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [66]:
print(type(list_of_lists[0][0]))

<class 'str'>

In [79]:
floats=[list(map(float, lista)) for lista in list_of_lists]
#list(map(float, (x for x in list_of_lists)))
floats

[[40.0, 20.0, 10.0, 30.0],
 [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0],
 [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0],
 [100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0]]

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
#No es posible manejar errores de SyntaxError

In [40]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3439384179.py, line 2)

In [72]:
try:
    for i in ['a','b','c']:
        print i**2
except:
    print("Se te ha olvidado el paréntesis, genius!")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4210983255.py, line 3)

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [ ]:
x = 5
y = 0

z = x/y

In [45]:
try:
    x = 5
    y = 0

    z = x/y
except:
    print("Error en división por cero")

Error en división por cero

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [46]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [73]:
try:
    abc=[10,20,20]
    print(abc[3])

except:
    print("Error de indexación ")

Error de indexación

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [75]:
num = input("Introduzca el numerador: ")
den = input("Introduzca el denominador: ")

try:
    num=int(num)
    den=int(den)
    num/den

except TypeError:
    print("Error de tipado, intruduce dos números enteros. ")
except ZeroDivisionError:
    print("No es posible dividir entre 0. ")
except:
    print("Cualquier otra genialidad")

Introduzca el numerador:  4
Introduzca el denominador:  0

No es posible dividir entre 0.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [80]:
f = open('testfile','r')
f.write('Test write this')

In [76]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("No se encontró el archivo")

No es posible dividir entre 0.

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [83]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
    
except FileNotFoundError:
    print("El archivo no existe")
    
except ValueError:
    print("El dato no puede convertirse a entero")

El archivo no existe

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [88]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [102]:
try:
   def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
        linux_interaction() 
except AssertionError:
    print("Esta función solo puede ejecutarse Linux systems.")


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [114]:
bucle=True

while bucle: 
    
    try:
        v=float(input("Introduzca un número: "))
        c=v**2
        print("El cuadrado de ",v," es", c)
        bucle = False
    except ValueError:
        print("Error de tipo. El valor que introdujo no es número")

Introduzca un número:  g

Error de tipo. El valor que introdujo no es número

Introduzca un número:  .

Error de tipo. El valor que introdujo no es número

Introduzca un número:  5

El cuadrado de  5.0  es 25.0


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'